@model IEnumerable<Book_Raven.Models.Book>
@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>Books are out of stock</p>
}
else
{
    <table id="books" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Books</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in Model)
            {
                <tr>
                    <td>@Html.ActionLink(b.Name, "Details", "Books", new { id = b.Id }, null)</td>
                    <td>@b.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

