<appSettings>
  <add key="MailServer" value="dev-smtp.bookRaven.com"/>
  <add key="FacebookAppId" value="4465243460171730"/>
  <add key="FacebookAppSecret" value="ba798fd9ffebe9136d75381df2ea60d2"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>